<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='/css/reset.css'>
    <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
    <form class="container-inputs" action="/login/login" method="POST">
        <input type="text" id="author_user" name="author_user" required><br><br>
        <input type="password" id="author_pwd" name="author_pwd" required><br><br>
        <input class="input-button" type="submit" value="Login">
    </form>
    <script src="/scripts/login.js"></script>
</body>
</html>