<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Wikiki</title>
</head>
<body>
    <!-- Menu -->
    <header class="menu">
        <div class="logo">
            <h1>Wiki<span>ki</span></h1>
        </div>
    </header>

    <!-- Nav -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/destaque">Destaque</a></li>
            <li><a href="#">Mais Curtidos</a></li>
            <li class="buscar">
                <form action="/buscar" method="GET">
                    <input class="input-buscar" type="text" name="keywords" id="input-buscar" placeholder="&#x1F50D; Buscar..."/>
                    <button class="botao-buscar" id="btn-busca" type="submit">Buscar</button>
                </form>
            </li>
        </ul>
    </nav>
    
    <h1 class="admin-title">Editar Usuários</h1>
    <a href="/login/criar">Criar Usuário</a>
    <section class="container-articles-list">
        <% users.forEach(user => { %>
            <section id="<%= user.author_id %>" class="styled-artigo">
                <div class="styled-div">
                    <h3><%= user.author_id %></h3>
                    <p><%= user.author_email %></p>
                    <a class="read-more" href="/login/edit/<%= user.author_id %>">Editar</a>
                </div>
            </section>
        <% }); %>
    </section>
</body>
</html>