<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/destaque">Destaque</a></li>
        <li><a href="#">Mais Curtidos</a></li>
        <li class="buscar">
            <form action="/buscar" method="GET">
                <input class="input-buscar" type="text" name="keywords" id="input-buscar" placeholder="Buscar"/>
                <button class="botao-buscar" id="btn-busca" type="submit">Buscar</button>
            </form>
        </li>
    </ul>
</nav>